<span style="display:none" id="user_id"><%=@user_id%></span>
<span style="display:none" id="token_service_address"><%=@token_service_address%></span>
<div>
  Watch your tokens!
</div>
<div id="tokens">
  <input type="text" id="new_token_name">
  <ul id="tokens_list">
  </ul>
  <button type="button" id="add_token_button">
    ADD TOKEN
  </button>
</div>
<div id="subscriptions">
  <ul id="subscriptions_list">
  </ul>
</div>
